body{
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
}

.main{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.board{
    display: flex;
    max-width: 400;
    max-height: 400;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
}

.cell{
    height: 25px;
    width: 25px;
    background-size: cover;
}

.cell-closed{
    background-image: url("cell-closed.svg");
}

.cell-flagged{
    background-image: url("cell-flagged.svg");
}

.cell-opened{
    background-image: url("cell-opened.svg");
}



.footer{
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}